* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:linear-gradient(rgb(0, 0, 23), rgb(29, 0, 110), rgb(0, 0, 23));
    gap:10px
}

button {
    padding: 5px 15px;
    font-weight: 700;
    font-size:1.2rem;
    letter-spacing: 1px;
    color:lightskyblue;
    background-color: black;
    border:none;
    border-radius:5px;
    cursor: pointer
}

p {
    color: white;
    font-size:1.5rem;
    font-weight: 800
}